<% if (opt.title && opt.description) { %>
    <div class="section-title row has-title mt-5" id="custom-block">
        <div class="col-12 text-center">
        <h2 class="h1" style="font-size: 34px !important; font-weight: bold;">
            <%= opt.title %>
        </h2>
    </div>
    
        <div class="col-12 text-center">
        <h3 class="h3" style="font-size: 15px !important; font-weight: normal;">
            <%= opt.description  %>
        </h3>
    </div>
    </div>
<% } else if (opt.title) { %>
    <div class="section-title row has-title mt-5" id="custom-block">
        <div class="col-12 text-center">
        <h2 class="h1" style="font-size: 34px !important; font-weight: bold;">
            <%= opt.title %>
        </h2>
    </div>
<% } %>
